/**  */
.brand {
  display: block;
  // @include transition( $transition-speed $transition-fn);
  font-family: "microsoft yahei", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  height: $navbar-height;
  line-height: 50px;
  padding: 0 15px;

  .brand.large{
    display: block;
  }
  .brand.mini{
    display: none;
  }
  .brand-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .brand-icon, .brand-label{
    vertical-align: middle;
  }
  @media (max-width: $screen-sm) {
    .brand.large,.brand.mini,.brand-label {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
